.main-chat
  .main-chat__header
    .main-shat__header__test
      = @group.name
      .main-shat__header__test__2
        MEMBER:
        - @group.users.each do |user|
          %member
            = user.name
    .main-shat__header__edit
      =link_to edit_group_path(@group), class: "contents__btn" do
        Edit

  .main-chat__screen
    = render @messages
    

  .main-chat__footer
    = form_for [@group, @message], html: {class:"message-form"} do |f|
      .form-mask
        = f.text_field :content, class: 'main-chat__footer__text', placeholder: 'type a message'
        = f.label :image, class: 'main-chat__footer__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'  
      = f.submit 'Send', class:'main-chat__footer__submit-btn'

      


      