    
.side-bar
  .side-bar__header
    .side-ber__box__list
      .side-ber__box__list__name
        = current_user.name
      .side-ber__box__list__logo
        = link_to new_group_path do
          = icon('fa', 'edit', class: "side-ber__box__list__logo__1")
         
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'side-ber__box__list__logo__2')


  .side-bar__box
    - current_user.groups.each do |group|
      .side-bar__box__post
        = link_to '#' do
          .side-bar__box__post__title
            = group.name
          .side-bar__box__post__message
            まだメッセージがありません
  
 